
#app{
    font-family: 'montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-succes{
    background-color: #4EB883;
}

.badge-succes{
    background-color: #4EB883;
}
.card-product {
    border-radius: 20px;
}
.card-img-top{
    border-top-right-radius:20px ;
    border-top-left-radius: 20px;
}
.breadcrumb {
    background-color: transparent;
    padding: 0;
}
.breadcrumb-active {
    font-weight: bold;
    color: black;
}
.image-fluid{
    border-radius: 15px;
}